  <section class="section">
    <div class="container">
      <h1 class="title">
        Hello World
      </h1>
      <p class="subtitle">
        My first website with <strong>Bulma</strong>!
      </p>
    </div>
  </section>



{{!--           
          {{#each beers}}
          {{#if stage1}}
          {{> beers/beer-button}}
          {{/if}}
          {{/each}}

          {{#each beers}}
          {{#if stage0}}
          {{> beers/beer-button}}
          {{/if}}
          {{/each}}


         {{#each beers}}
          {{#if stage2}}
          {{> beers/beer-button}}
          {{/if}}
          {{/each}}


          
          {{#each beers}}
          {{#if stage3}}
          {{> beers/beer-button}}
          {{/if}}
          {{/each}}

    

         {{#each beers}}
          {{#if stage4}}
          {{> beers/archive-button}}
          {{/if}}
          {{/each}} --}}
      
      
