   {{!-- <section class="hero">
    <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Hello World
      </h1>
      <p class="subtitle">
        My first website with <strong>Bulma</strong>!
      </p>
    </div>
    </div>
  </section> --}}
  
  <section class="section">
    <div class="container">
                {{#if data}}
          {{#each data}}
            {{> cards/scraped-card}}
          {{/each}}
          {{else}}
          <h1>nope</h1>
            {{/if}}

{{#if FriendStatus.IsFriend}}
  <div class="ui-state-default ui-corner-all" title=".ui-icon-mail-closed"><span class="ui-icon ui-icon-mail-closed"></span></div>
{{else}}
  {{#if FriendStatus.FriendRequested}}
    <div class="ui-state-default ui-corner-all" title=".ui-icon-check"><span class="ui-icon ui-icon-check"></span></div>
  {{else}}
    <div class="ui-state-default ui-corner-all" title=".ui-icon-plusthick"><span class="ui-icon ui-icon-plusthick"></span></div>
  {{/if}}
{{/if}}



    {{!-- </div>
        <div class="container">
          {{> beers/beer-button}}
    </div>
  </section> --}}
  



{{!--           
          {{#each beers}}
          {{#if stage1}}
          {{> beers/beer-button}}
          {{/if}}
          {{/each}}

          {{#each beers}}
          {{#if stage0}}
          {{> beers/beer-button}}
          {{/if}}
          {{/each}}


         {{#each beers}}
          {{#if stage2}}
          {{> beers/beer-button}}
          {{/if}}
          {{/each}}


          
          {{#each beers}}
          {{#if stage3}}
          {{> beers/beer-button}}
          {{/if}}
          {{/each}}

    

         {{#each beers}}
          {{#if stage4}}
          {{> beers/archive-button}}
          {{/if}}
          {{/each}} --}}
      
      
